<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.p7.platform.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.song.p7.platform.pojo.Test">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.song.p7.platform.pojo.Test"  useGeneratedKeys="true" keyProperty="id">
    insert into test (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.song.p7.platform.pojo.Test">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      select currval('test_id_seq')
    </selectKey>
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.p7.platform.pojo.Test">
    update test
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.p7.platform.pojo.Test">
    update test
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test
  </select>

  <select id="findTestByName" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test
    where name like concat ('%',#{name,jdbcType=VARCHAR},'%')
  </select>
  <select id="findTestBySlective" resultType="com.song.p7.platform.pojo.Test">
    select
    <include refid="Base_Column_List"/>
    from test
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="findTestByParam" resultType="com.song.p7.platform.pojo.Test">
    select
    <include refid="Base_Column_List"/>
    from test
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      and name like concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
  </select>
</mapper>