<!-- header -->
<header class="py-1" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1>
                <a class="navbar-brand" href="index"><i class="fa fa-ravelry" aria-hidden="true"></i></a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-4 m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="about" th:text = "#{common.about_us}">关于我们</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="moreinfo" aria-haspopup="true" aria-expanded="false">
                            <span th:text = "#{common.more_info}">菜单1</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="features" th:text = "#{common.more_info.features}">更多菜单1</a>
                            <a class="dropdown-item" href="blogs" th:text = "#{common.more_info.blogs}">更多菜单2</a>
                            <a class="dropdown-item" href="features" th:text = "#{common.more_info.servers}">更多菜单3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text = "#{common.dropdown}">菜单2</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="features" th:text = "#{common.dropdown.features}">更多菜单1</a>
                            <a class="dropdown-item" href="blogs" th:text = "#{common.dropdown.blogs}">更多菜单2</a>
                            <a class="dropdown-item" href="features" th:text = "#{common.dropdown.servers}">更多菜单3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact" th:text = "#{common.contact}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact" th:text = "#{common.contact}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact" th:text = "#{common.contact}">Contact</a>
                    </li>
                </ul>
                <div class="header-right  ml-4 m-auto">
                    <a href="signin" class="signin mr-4"  th:text = "#{common.sign_in}"> Sign in <i class="fas fa-sign-in-alt"></i></a>
                    <a href="register" class="contact" th:text = "#{common.register}">Get Started</a>
                </div>
                <div class="header-right  mr-4">
                    <select id = "language_change" onchange="changeLanguage()">
                        <option value = "zn_CH">中文</option>
                        <option value = "en_US">English</option>
                    </select>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>
    $.get(getWebRootPath() + "/i18n" , function (result) {
        $("#language_change option[value="+result.data+"]").attr("selected", "selected");
    });


    function changeLanguage() {
        var url = "/i18n";
        //切换语言
        $.post(getWebRootPath() + url + '?lang=' + $("#language_change option:selected").val(), function () {
            location.reload();
        });
    }

    function htmlToHtml(htmlName){

    }
</script>
<!-- //header -->